* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

main {
  padding-top: 77px;
}

@media (max-width: 767px) {
  main {
    padding-top: 47px;
  }
}
